<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
               
                <div class="bg-light p-4" style="height:235; width:330">
                    <img src="~/Images/adidas.jpg" alt="">
                </div>

                <div class="bg-light p-4" style="height:235; width:330">
                    <img src="~/Images/canon.png" alt="">
                </div>

                <div class="bg-light p-4" style="height:235; width:330">
                    <img src="~/Images/nike.png" alt="">
                </div>

                <div class="bg-light p-4" style="height:235; width:330">
                    <img src="~/Images/koctas.png" alt="">
                </div>

                <div class="bg-light p-4">
                    <img src="~/Images/arcelik.jpg" alt="">
                </div>

                <div class="bg-light p-4">
                    <img src="~/Images/ikea.png" alt="">
                </div>

                <div class="bg-light p-4">
                    <img src="~/Images/columbia.png" alt="">
                </div>

                <div class="bg-light p-4">
                    <img src="~/Images/lacoste.png" alt="">
                </div>

                <div class="bg-light p-4">
                    <img src="~/Images/hummel.png" alt="">
                </div>
              
            </div>
        </div>
    </div>
</div>